@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.logo {
		font-family: cursive;
	}

	.links::before {
		content: "";
		width: 0;
		height: 2px;
		background-color: #be123c;
		border-radius: 10px;
		position: absolute;
		bottom: -2px;
		transition: all 0.5s;
	}

	.links:hover:before {
		width: 100%;
	}

	.font-nano {
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif;
	}
}
